@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300&display=swap');
/*font-size for mobile*/
html {
    font-size: 16px;
}

/*font-size for desktop*/
@media screen and (min-width: 700px) {
    html {
        font-size: 20px; 
    } 
}


body {
    font-family: 'Gemunu Libre', sans-serif;
    background-color: black;
    color: #E49F97;
}


header {
    background-color: #62346A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem; 
}


header nav ul li {
    color: #E49F97;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}


header nav ul li:hover {
    color: #CF462C;
}


@media screen and (min-width: 700px) {
    .dot-menu {
        display: none;
    }
}


@media screen and (max-width: 700px) {
    header ul {
        display: none;
    }
}


.banner {
    background-image: url(../Assets/themilkyway.jpg);
    width: 100%;
    height: 30rem;
    position:relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 5rem;
}


.box-in-banner {
    background-color: black;
    width:fit-content;
    position:absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 10rem;
    padding: 2rem;
    text-align: center;
    border: solid #62346A;
}

.box-in-banner p {
    font-size: 1rem;
}

@media screen and (min-width: 700px) {
    .box-in-banner p {
        font-size: 1rem;
    }
}


.article {
        background-color: black;
        width: 100%;
        /*border: 0.5rem solid #62346A;*/
        padding: 3rem;
        margin: auto;
        margin-bottom: 4rem;       
}


@media screen and (min-width: 700px) {
    article {
        width: 80%;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
    }  
}


.flex-container {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    gap: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
}


.flex-item img {
    width: 100%;
    height: auto;
}


.flex-item p {
    text-align: center;
}

.flex-item {
    font-size: 1rem;
}

@media screen and (min-width: 700px;) {
    .flex-item {
        font-size: 1rem;
    } 
}

.subscribe {
    border: solid #62346A;
    width: fit-content;
    padding: 2rem;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.subscribe button {
    font-family: inherit;
    font-weight: bold;
    background-color: #62346A;
    color: #E49F97;
    padding: 0.5rem 1.2rem;
    border-radius: 1rem;
    border: none;
    margin-top: 1.5rem;
}

.subscribe button {
    font-size: 1rem;
}

@media screen and (min-width: 700px) {
    .subscribe button {
        font-size: 1rem;
    }
}

.subscribe button:hover {
    color: #CF462C;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
}


footer {
    background-color: #CF462C;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    margin-top: 4rem;
}



