body {
    background-color: #822ed0;
}

header {
    background-color: #ffffff;
}

.special-things { 
    background-color: bisque;
    color: cadetblue;
    width: 100px;
    height: 60px
}


article {
    background-color: darkblue;
}