body {
    background-image: url("../Assets/2.png");
}

header {
    background-color: #ffffff;
}

.special-things { 
    background-color: bisque;
    color: cadetblue;
    width: 100px;
    padding: 20px;
    margin: auto;
}


article {
    background-color: #00008b;
}

.main-picture {
    width: 600px;
}

