@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400;700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300&display=swap');


html {
    font-size: 16px;
}

@media screen and (min-width:700px;) {
    html { font-size: 20px;
    }
}

.body {
    background-image: url(../Assets/themilkyway.jpg);
}

